.DS_Store

node_modules
fabric-chaincode/chaincodejava/build
fabric-chaincode/chaincodejava/out


.idea
.gradle

*.bna
*.card

**.block

hfc-key-store

fabric-network-dev/config/*
fabric-network-dev/crypto-config/*
fabric-network/config/*
fabric-network/crypto-config/*