<div class="citContainer container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form [formGroup]="uploadCitizenForm" (ngSubmit)="onSubmit()">
                <div [hidden]="!errorAlert" class="alert alert-danger" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    An unexpected error has occurred. Please contact the administrator.
                </div>
                <div [hidden]="!successAlert" class="alert alert-success" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Citizen information have been successfully uploaded.
                </div>
            
                <!-- BSN input -->
                <div class="form-group">
                    <label for="bsn">BSN</label>
                    <input type="text" id="bsn" class="form-control" 
                            formControlName="bsn" 
                            [ngClass]="{ 'is-invalid': submitted && f.bsn.errors }">
                    <div *ngIf="submitted && f.bsn.errors" class="invalid-feedback">
                        <div *ngIf="f.bsn.errors.required">BSN is required</div>
                    </div>
                </div>
                <!-- First Name input -->
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" 
                            formControlName="firstName" 
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <!-- Last Name input -->
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" 
                            formControlName="lastName" 
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <!-- Address input -->
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" class="form-control" 
                            formControlName="address" 
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                </div>
                <!-- Financial Support input -->
                <div class="form-group">
                    <label for="financialSupport">Financial Support</label>
                    <input type="text" id="financialSupport" class="form-control" 
                            formControlName="financialSupport" 
                            [ngClass]="{ 'is-invalid': submitted && f.financialSupport.errors }">
                    <div *ngIf="submitted && f.financialSupport.errors" class="invalid-feedback">
                        <div *ngIf="f.financialSupport.errors.required">Financial Support is required</div>
                        <div *ngIf="f.financialSupport.errors.pattern">Financial Support should be numeric</div>
                    </div>
                </div>
                <!-- Fine amount input -->
                <div class="form-group">
                    <label for="fineAmount">Fine amount</label>
                    <input type="text" id="fineAmount" class="form-control" 
                        formControlName="fineAmount"
                        [ngClass]="{ 'is-invalid': submitted && f.fineAmount.errors }">
                    <div *ngIf="submitted && f.fineAmount.errors" class="invalid-feedback">
                        <div *ngIf="f.fineAmount.errors.required">Fine amount is required</div>
                        <div *ngIf="f.fineAmount.errors.pattern">Fine amount should be numeric</div>
                    </div>
                </div>
                <!-- Consent checkbox -->
                <div class="form-check">
                    <input type="checkbox" id="consent" class="form-check-input" 
                           formControlName="consent">
                    <label class="form-check-label" for="consent">By clicking this checkbox, you agree with Hyperdebt's Terms & Conditions and provide us with consent to share
                         your information with other municipalities.</label>
                    <div 
                    *ngIf="submitted && f.consent.errors" class="is-invalid">
                        <div id="checkTxt" *ngIf="f.consent.errors.required">Consent is required</div>
                    </div>
                </div>
                <!-- Browse consent form  -->
                <div style="margin-top: 20px;" class="form-group">
                   <input type="file" class="form-control-file" id="upload" [disabled] = "f.consent.value">
                </div>
            
                <button [disabled]="loading" type="submit" class="btn btn-success">
                    Upload
                    <i [hidden]="loading" class="fa fa-cloud-upload"></i>
                    <i [hidden]="!loading" class="fa fa-spinner fa-spin"></i>
                </button>
            </form>
        </div>
    </div>
</div>
